@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Lexend+Mega&display=swap');


* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
 
  header {
    background-image: url("../img/profile-header.jpg");
    background-size: cover;
    font-family: 'Hammersmith One', sans-serif;
    font-family: 'Lexend Mega', sans-serif;
    padding: 40px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
 
  nav {
    float: left;
    width: 15%;
    height: 670px;  
    background: #ccc;
    padding: 0 10px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }
  
ul a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
  
  nav a.active {
    background-color:  #101820FF;
    color: white;
  }

 nav a:hover:not(.active) {
    background-color: #F2AA4CFF;
    color: white;
  }
  

  
  nav ul {
    list-style-type: none;
    padding: 0;
  }


a{
    text-decoration: none;
    color: white;
}
  
 
  section a:visited {
    color: #555;
  }
   
  
  section a:active {
    color: blue;
  } 

  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 670px;  
  }
  
.posted{
  font-weight: 100;
  letter-spacing: 2;
  padding: 5px;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Lexend Mega', sans-serif;
}

.popup{
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #f5f6fa;
  color: #0d0d0d;
  padding: 0 32px;
  padding-bottom: 50px;
  transition: 400ms;
  box-shadow: 0 -2px 16px #2f3640;
}

.popup.active {
  bottom: 0;
}

.popup-btn, .popup-lrm{
  background-color: #101820FF;
  border: 0;
  color: #f5f6fa;
  padding: 10px;
  min-width: 10%;
  min-height: 10%;
  font-size: 18px;;
  margin-bottom: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.popup-btn:hover, .popup-lrm:hover{
background-color: #F2AA4CFF;
}


.modal-body{
    height: 500px;
    border-style: solid;
    border-color: #00000018;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: sans-serif;
    padding-bottom: 50px;
}

#line{
    opacity: 0.2;
}

#line2{
    opacity: 0.2;
    margin-right: 20px;
    margin-left: 20px;
}

.modal-body img{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: rgba(71, 175, 175, 0.87);
    border-radius: 50%;
    border-width: 5px;
}



.label{
    font-size: 10px;
    color: #ffffff;
    background: orange;
    border-style: solid;
    cursor: default;
    border-color: orange;
    border-radius: 8px;
    padding: 1px;
}

.label:hover{
  font-size: 13px;
}

 
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  footer {
    background-color: #00203FFF;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  @media screen and (max-width: 700px) {
    nav {
      width: 100%;
      margin-top: 10px;
      height: auto;
      position: relative;
    }
    ul a {float: left;}
    article {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    nav a {
      text-align: center;
      float: none;
    }
  }

  .fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    color: #f1f1f1;
    background: #000000;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  